.ui {
  position: absolute;
  left: 0;
  width: 300px;
  min-width: 300px;
  background-color: black;
  border: thin solid black;
  border-radius: 5px;
}

.grab {
  background: #afafaf;
  width: 20%;
  height: 15px;
  margin: 0 auto 15px auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.grab::after {
  content: '....';
  display: flex;
  justify-content: center;
  color: black;
  font-size: 11px;
}

.tab {
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtab {
  padding: 5px;
  font-size: 15px;
  background-color: #e4e4e4;
}

.hide {
  display: none !important;
}

.properties {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  color: black;
  max-height: 300px;
  overflow: auto;
}

.properties > * {
  margin-bottom: 10px;
}

.properties > *:last-child {
  margin-bottom: 0;
}

.properties > div {
  display: flex;
  align-items: center;
}

.properties > div > * {
  margin-right: 5px;
}

.properties > div > *:last-child {
  margin-right: 0;
}

.properties input {
  width: 100%;
  box-sizing: border-box;
}

.properties span {
  padding: 5px;
  border-radius: 2px;
  background-color: #d8d8d8;
}

.properties > label {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.properties > div > label {
  opacity: .7;
}