body {
  font-family: monospace;
}

.top {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  margin-right: 20px;
}

.relative {
  position: relative;
}

.tab {
  padding: 10px;
  background: black;
  color: white;
  margin-left: 5px;
  cursor: pointer;
  user-select: none;
}

.page {
  display: flex;
}

.panel {
  position: absolute;
  top: 40px;
  background-color: #dadada;
  right: 0;
}

.list {
  padding: 10px;
  list-style: none;
  display: block;
  margin: 0;
  white-space: nowrap;
}

.list a {
  color: black;
}

.list a:hover {
  color: #2f2f2f;
}