.box {
  background-color: white;
  border: thin solid #363636;
  min-width: 250px;
}

.dragArea {
  background: #e4e4e4;
  height: 25px;
}

.dragArea::after {
  content: '....';
  display: flex;
  justify-content: center;
  color: #363636;
  font-weight: bold;
  font-size: 18px;
}

.container {

}

.title {
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  left: -59px;
  transform: rotate(-90deg);
  background-color: #e4e4e4;
  padding: 5px 10px;
  margin-top: 8px;
  color: #363636;
  border-top-left-radius: 5px;
  border: thin solid black;
  border-top-right-radius: 5px;
  border-bottom: none;
  user-select: none;
}

.tab {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  align-items: center;
  background-color: #e4e4e4;
  color: black;
}

.tabContent {
  padding: 5px;
}

.tabContent input {
  width: 100%;
  box-sizing: border-box;
}

.flexBox {
  display: flex;
}

.flexBoxTitle {

}